{% extends "home/index.html" %}
{% load static %}
{% block coderhouse_project_content %}

<h1> Acerca de Nosotros </h1>
</div>
<div class="container">
<p align="justify">Somos un grupo de alumnos de CoderHouse, presentando la ultima entrega de proyecto del curso de programacion Python.</p>
<p align="justify">Con un pequeño ejemplo de "Blog de recetas de pizza" que esperamos encuentren de su agrado.</p>
<p align="justify"></p>
</div>

</div>
<h2 style="text-justify: distribute;">Nuestro Equipo</h2>
<div class="text-w">
  <div class="column">
    <div class="card-body">
      <div class="text-white">
        <h2>Elias Rial</h2>
        <p>Alumno Coderhouse Curso programacion python.</p>
        <p>Elias@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card-body">
      <div class="text-white">
        <h2>Diego Aguerre</h2>
        <p>Alumno Coderhouse Curso programacion python.</p>
        <p>Aguerre@example.com</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card-body">
      <div class="text-white">
        <h2>Diego Boim</h2>
        <p>Alumno Coderhouse Curso programacion python.</p>
        <p>Boim@example.com</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}